$special-color: #86BC42;
$special-color-hover: #619b19;
$secondary-bg-color: #4B5464;
$dark-font-color: #6e788d;
$main-font-color: #9CA3AB;
$main-font-family: 'Open Sans', sans-serif;

$font-Mulish:'Mulish', sans-serif;

@mixin font-settings($f-f: $main-font-family, $f-w: 600, $f-sz: 16px, $t-tr:none, $color:$main-font-color, $l-sp: normal){
    font-family: $f-f;
    font-weight: $f-w;
    font-size: $f-sz;
    text-transform: $t-tr;
    color: $color;
    letter-spacing: $l-sp;
  }

@mixin d-flex($d:flex, $j-c:center, $a-i:center){
    display: $d;
    justify-content: $j-c;
    align-items: $a-i;
}



@keyframes rotate-center {
  0% {
    -webkit-transform: translate(calc(-100% - 19px), -50%) rotate(0);
            transform: translate(calc(-100% - 19px), -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(calc(-100% - 19px), -50%) rotate(-360deg);
            transform: translate(calc(-100% - 19px), -50%) rotate(-360deg);
  }
}
